name: Test Backend

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - run: cp .env.example .env
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
          enable-cache: true
      - run: uv sync
        working-directory: back
      - run: make down_dev
      - run: docker compose -f docker-compose-base.yml -f docker-compose-local.yml up -d db
      - name: Migrate DB
        run: uv run bash scripts/prestart.sh
        working-directory: back
      - name: Run tests
        run: uv run bash scripts/tests-start.sh "Coverage for ${{ github.sha }}"
        working-directory: back
      - run: make down_dev
      - name: Store coverage files
        uses: actions/upload-artifact@v6
        with:
          name: coverage-html
          path: back/htmlcov
          include-hidden-files: true
      - name: Coverage report
        run: uv run coverage report --fail-under=10
        working-directory: back
